body {
  color: #141823;;
  font-family: Noto Sans Korean, helvetica, arial, sans-serif;
}

.post {
  border: 1px solid #141823;
  max-width: 680px;
  line-height: 2;
  padding: 10px;
  width: 100%;
}

.post h2 {
  color: #888;
  font-size: 1em;
  margin: 16px 0 0;
}

@media (max-width: 1000px) {
  .post {
    width: 100%;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0 0 16px;
}

.tags {
  text-align: right;
  margin: 0;
}
