<article class="post">
<h1><%= @title %></h1>
<p>Posted on <%= @date %> by <%= @author %></p>
<%= @contents %>
<%= unless Enum.empty? @tags do %>
  <p class="tags">
    <%= for t <- @tags do %>
      <a href="<%= t.list_url %>"><%= t.name %></a>;
    <% end %>
  </p>
<% end %>
</article>
